<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace和定义的Mapper接口对应，并实现其中的方法 -->
<mapper namespace="com.latin.mapper.AccountMapper">
	<!-- selectKey返回刚刚插入的主键ID的值到accountId -->
	<!-- 
	<insert id="insertUser" parameterType="com.latin.model.AccountModel">
		
		<selectKey resultType="int" keyProperty="accountId" order="AFTER">    
         	select last_insert_id() as account from account limit 1
     	</selectKey>
        insert into account(username,password,email,address)values(#{username},#{password},#{email},#{address})
    </insert>
   -->
  <!-- 
  <select id="getUserByUsername" parameterType="string" resultType="com.huawei.nser.standard.dao.User">
     select msisdn,sub_id,pwd password,to_char(active_time,'yyyymmdd') activate_time from ec_user where msisdn=#{msisdn} 
  </select>
  
   <insert id="addUser" parameterType="com.huawei.nser.standard.values.ECUserValue">
       insert into ec_user(msisdn, sub_id, pwd, active_time,remark) values(#{msisdn}, #{sub_id}, #{pwd}, #{active_time},#{remark})
  </insert>
  
   <update id="setUserPassword" parameterType="com.huawei.nser.standard.dao.User">
   　　　update ec_user set pwd = #{password} where msisdn=#{msisdn}
  </update>  
  
   <delete id="delLogincheck" parameterType="com.huawei.nser.standard.values.LoginCheckPO">
     delete from ec_sys_logincheck  where login_number = #{login_number} and checktype= #{checktype}
  </delete>
  -->
</mapper>

